.flexbox-item.header{background:#4b6c9e;}
.flexbox-item.footer{background: #4b6c9e;}
.flexbox-item.footer .copyright{color: white;}
.flexbox-item.header .fullscrean-btn{color: white;}
.flexbox-item.header .navbar-brand{color: white}
.flexbox-item.header .header-nav li a{color: white;}
.flexbox-item.header .header-nav li.active a{border-bottom: 3px solid #edf1f5;}
.flexbox-item.header .dropdown-menu.user-drop>li.user-header{background: #355482;color: white;}
.flexbox-item.header .header-nav li.login a, .flexbox-item.header .header-nav li.login:hover a, .flexbox-item.header .header-nav li.login:focus a{background-color: #355482 !important;}
.flexbox-item.header .navbar-toggle .icon-bar{background-color: white;}

/*grey*/
body.gray .flexbox-item.header{background: gray;}
body.gray .flexbox-item.footer{background: gray;}
body.gray .flexbox-item.footer .copyright{color: white;}
body.gray .flexbox-item.header .fullscrean-btn{color: white;}
body.gray .flexbox-item.header .navbar-brand{color: white}
body.gray .flexbox-item.header .header-nav li a{color: white;}
body.gray .flexbox-item.header .header-nav li.active a{border-bottom: 3px solid #edf1f5;}
body.gray .flexbox-item.header .dropdown-menu.user-drop>li.user-header{background: #636262;color: white;}
body.gray .flexbox-item.header .header-nav li.login a, .flexbox-item.header .header-nav li.login:hover a, .flexbox-item.header .header-nav li.login:focus a{background-color: #636262 !important;}
body.gray .flexbox-item.header .navbar-toggle .icon-bar{background-color: white;}
/*red*/
body.red .flexbox-item.header{background: red;}
body.red .flexbox-item.footer{background: red;}
body.red .flexbox-item.footer .copyright{color: white;}
body.red .flexbox-item.header .fullscrean-btn{color: white;}
body.red .flexbox-item.header .navbar-brand{color: white}
body.red .flexbox-item.header .header-nav li a{color: white;}
body.red .flexbox-item.header .header-nav li.active a{border-bottom: 3px solid #edf1f5;}
body.red .flexbox-item.header .dropdown-menu.user-drop>li.user-header{background: #ce0000;color: white;}
body.red .flexbox-item.header .header-nav li.login a, .flexbox-item.header .header-nav li.login:hover a, .flexbox-item.header .header-nav li.login:focus a{background-color: #ce0000 !important;}
body.red .flexbox-item.header .navbar-toggle .icon-bar{background-color: white;}
/*blue*/
body.blue .flexbox-item.header{background: blue;}
body.blue .flexbox-item.footer{background: blue;}
body.blue .flexbox-item.footer .copyright{color: white;}
body.blue .flexbox-item.header .fullscrean-btn{color: white;}
body.blue .flexbox-item.header .navbar-brand{color: white}
body.blue .flexbox-item.header .header-nav li a{color: white;}
body.blue .flexbox-item.header .header-nav li.active a{border-bottom: 3px solid #edf1f5;}
body.blue .flexbox-item.header .dropdown-menu.user-drop>li.user-header{background: #0b0bca;color: white;}
body.blue .flexbox-item.header .header-nav li.login a, .flexbox-item.header .header-nav li.login:hover a, .flexbox-item.header .header-nav li.login:focus a{background-color: #0b0bca !important;}
body.blue .flexbox-item.header .navbar-toggle .icon-bar{background-color: white;}
/*yellow*/
body.yellow .flexbox-item.header{background: yellow;}
body.yellow .flexbox-item.footer{background: yellow;}
body.yellow .flexbox-item.footer .copyright{color: black;}
body.yellow .flexbox-item.header .fullscrean-btn{color: black;}
body.yellow .flexbox-item.header .navbar-brand{color: black;}
body.yellow .flexbox-item.header .header-nav li a{color: black;}
body.yellow .flexbox-item.header .header-nav li.active a{border-bottom: 3px solid #c3c303;}
body.yellow .flexbox-item.header .dropdown-menu.user-drop>li.user-header{background: #c3c303;color: black;}
body.yellow .flexbox-item.header .header-nav li.login a, .flexbox-item.header .header-nav li.login:hover a, .flexbox-item.header .header-nav li.login:focus a{background-color: #c3c303 !important;}
body.yellow .flexbox-item.header .navbar-toggle .icon-bar{background-color: black;}


/*color switcher panal*/
.switcher{ position: fixed; right: 0; top: 11%; z-index: 1; background-color: white;box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.08);}
.switcher #switcher-btn{ background-color: #333333; width: 40px; height: 40px; line-height: 40px; color: white; display: inline-block; text-align: center; position: absolute; left: -40px;}
#switcher{ padding: 10px; margin-bottom: 0;}
#switcher li { list-style: none; display: inline-block;width: 30px;height: 30px;border: 1px solid black; margin: 5px; padding: 0;}
#grayButton {background: gray;}
#redButton {background: red;}
#blueButton {background: blue;}
#yellowButton {background: yellow;}