*, *:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body{width:100%;height:100%;margin:0;padding:0;}
body{font-size:13px;font-family: 'Roboto', sans-serif;background-color:#edf1f5;}
.flexbox-parent{width:100%;height:100%;display:flex;flex-direction:column;justify-content:flex-start;align-items:stretch;align-content:stretch;background:rgba(255, 255, 255, .1);}
.flexbox-item{}
.flexbox-item-grow{flex:1;}
.fill-area{display:flex;flex-direction:row;justify-content:flex-start;align-items:stretch;align-content:stretch;}
.fill-area-content{overflow:auto;}
.main-container{display:flex;height:100%;}
body.headerSticky{ height: auto !important;}
body.headerSticky .flexbox-item.header{ position: sticky; top: 0; z-index: 9;}
body.headerSticky .flexbox-item.footer{ position: fixed; bottom: 0; z-index: 9; width: 100%;}
body.headerSticky .main-container .left{ overflow: inherit;}
.main-container .left-wrapper{background-color:#edf1f5;width:100%;overflow-y:scroll;}
.main-container .right-wrapper{width:330px;padding:0 10px;}
.quiz-heading{width:100%;float:left;}
.quiz-body{clear:both;}
.quiz-heading h4{margin:0;}
.quiz-heading .quiz-report .dropdown-toggle{box-shadow:none;text-decoration:none;color:#333333;line-height:31px;}
.quiz-heading .quiz-report .dropdown-toggle::selection{background:transparent;}
.text-headline{font-size:2rem;font-weight:400;line-height:3rem;}
.margin-v-0-5{margin-top:0px !important;margin-bottom:5px !important;}
.margin-v-0-0{margin-top:0px !important;margin-bottom:0px !important;}
/*header nav*/
.flexbox-item.header .navbar-toggle{margin-right:0px;}
.flexbox-item.header .fullscrean-btn{padding: 9px 10px;margin-top: 6px;margin-right: 10px; font-size: 16px;}
.navbar{border: none;}
.header-nav li a{ font-size: 14px; padding: 10px 15px; line-height: 28px;}
.header-nav li a:hover, .header-nav li a:focus, .header-nav li.open>a{ background-color: transparent !important;}
.header-nav li.active a{font-weight: 500;}
.copyright{line-height: 30px; margin-bottom: 0; font-size: 12px;}
.card {border: 0;border-radius: 5px;box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.08);}
.card.card-default{background-color: #fff;}
.card .card-body{padding:0.5rem 1.875rem;}
.card .card-body .card-title{ font-size: 1.8rem;}
.dataTables_wrapper table{margin-bottom: 0;}
.dataTables_wrapper table th {border-bottom: 1px solid #c9ced4;border-top: 0;box-shadow: 0 1px 1px rgba(0, 0, 0, .05);background: rgba(255,255,255,1);background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(247,248,249,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(247,248,249,1)));background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(247,248,249,1) 100%);background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(247,248,249,1) 100%);background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(247,248,249,1) 100%);background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(247,248,249,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f8f9', GradientType=0 );}
.dataTables_wrapper table th:first-child {border-left: 0;}
table td p{margin-bottom: 0;}
.dataTables_wrapper table td, .dataTables_wrapper table th{font-size: 13px !important;}
.dataTables_wrapper table td{border: 1px solid #e7ecf1; border-top: 0;}
.dataTables_wrapper table th{border: 1px solid #e7ecf1; border-top: 0;font-weight: 500 !important;}
.dataTables_wrapper table th:first-child{border-left: 0;}
.dataTables_wrapper table th:last-child{border-right: 0;}
.dataTables_wrapper table>tbody>tr:nth-of-type(odd) {background-color: #f6f7f9;}
.dataTables_wrapper table>tbody>tr:hover, .dataTables_wrapper table>tbody>tr:hover>td {background: #e9ebee!important;}
.mb-30{margin-bottom: 30px;}
.mt-30{margin-top: 30px;}
.mb-15{margin-bottom: 15px;}
.mt-15{margin-top: 15px;}
.dashboard-card {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;background: linear-gradient(to bottom, #ffffff 0%,#f6f7f9 100%);}
.dashboard-card.bordered {border:1px solid #d3d7dc}
.dashboard-card .dashboard-card-body{padding:0.5rem 1.875rem;}
.dropdown-menu.user-drop{margin: 0; padding: 0;}
.dropdown-menu.user-drop>li.user-header {height: 175px;padding: 10px;text-align: center;line-height: 20px;}
.dropdown-menu.user-drop>.user-footer {background-color: #f9f9f9;padding:10px; overflow: hidden;}
.dropdown-menu.user-drop>li.user-header img{ margin-bottom: 20px;border : solid 6px rgba(255,255,255,0.1);}
.dropdown-menu.user-drop>li.user-header>p>small {display: block;font-size: 12px;}
.img-circle {border-radius: 50%;}
.flex-btn{display: flex;}
.summary{padding: 10px;}
.exam-navbar{background-color: white; padding: 0 20px; width: 100%; float: left;}
.exam-navbar ul{margin-bottom: 0; padding-left: 0;}
.exam-navbar ul li{ display: block; float: left;}
.exam-navbar ul li a{color: #98a6ad; padding: 10px 20px;display: inline-block; font-size: 14px;}
.exam-navbar ul.tabsBordered li a:hover, .exam-navbar ul.tabsBordered li a:focus {text-decoration: none; color: #337ab7;}
.exam-navbar ul.tabsBordered li.active a {border-bottom: 2px solid #337ab7 !important; color: #337ab7; font-weight: 500;}
.fullscrean-div.fullscreen{z-index: 9999;width: 100%;height: 100%;position: fixed;top: 0;left: 0; margin: 0; padding: 0;}
.fullscrean-div .fullscrean-div-btn{ font-size: 16px; color: #333333;}
/*tab style*/
.tab-content{padding: 10px 0 0;}
.tab-content>.tab-pane{position: relative;}
.nav-tabs>li>a:hover{background-color: transparent;}
/*tabs bordered*//* =============   Tabs============= */
.navtab-bg {background-color: #f3f6f8; }
.nav-tabs > li > a, .nav-pills > li > a {color: #98a6ad;}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {background: #02c0ce;}
/* Vertial tab */
.tabs-vertical-env .tab-content {background: #ffffff;display: table-cell;padding: 0 0 0 20px;vertical-align: top; }
.tabs-vertical-env .nav.tabs-vertical {display: table-cell;min-width: 120px;vertical-align: top;width: 150px; }
.tabs-vertical-env .nav.tabs-vertical li > a {color: #98a6ad;white-space: nowrap;font-family: "Rubik", sans-serif; }
.tabs-vertical-env .nav.tabs-vertical li > a.active {background: #02c0ce;border: 0;color: #ffffff; }
.tabs-vertical-env-right .tab-content {padding: 0 20px 0 0; }
.tabs-bordered {border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important; }
.tabs-bordered .nav-item {margin-bottom: -2px; }
.tabs-bordered li a, .tabs-bordered li a:hover, .tabs-bordered li a:focus {border: 0 !important;padding: 10px 20px !important; }
.tabs-bordered li a:hover, .tabs-bordered li a:focus {color: #337ab7 !important;}
.tabs-bordered li.active a {border-bottom: 2px solid #337ab7 !important; color: #337ab7 !important; font-weight: 500;}
.flex-div {display : flex;}
.flex-div .widgets-card {padding: 15px;flex: 1;}
.card.card-statistics {text-align: left; }
.card.card-statistics .card-body, .card.card-statistics .horizontal-menu .sidebar .nav .nav-item .mega-menu, .horizontal-menu .sidebar .nav .nav-item .card.card-statistics .mega-menu {padding: 3rem 2.6rem;}
.preview-list{padding:1rem 0;}
.preview-list .preview-item{border-bottom:1px solid #e7eaf3;display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row;padding:1rem .5rem;font-size:.875rem;}
.preview-list .preview-item:first-child{padding-top:0;}
.preview-list .preview-item:last-child{padding-bottom:0;border-bottom:0;}
.preview-list .preview-item .form-check{margin-top:8px;margin-right:1rem;}
.preview-list .preview-item .preview-thumbnail{color:#ffffff;position:relative;}
.preview-list .preview-item .preview-thumbnail img,.preview-list .preview-item .preview-thumbnail .preview-icon{width:36px;height:36px;border-radius:100%;}
.preview-list .preview-item .preview-thumbnail .preview-icon{padding:6px;text-align:center;}
.preview-list .preview-item .preview-thumbnail .preview-icon i{font-size:1.125rem;}
.preview-list .preview-item .preview-thumbnail .badge{height:9px;border-radius:100%;display:block;position:absolute;top:0px;right:0px;width:9px;padding:0;border:1px solid #ffffff;}
.preview-list .preview-item .preview-item-content{line-height:1;padding-left:15px;}
.preview-list .preview-item .preview-item-content p{margin-bottom:10px;}
.preview-list .preview-item .preview-item-content p .content-category{font-family:'source-sans-pro-semibold', sans-serif;padding-right:15px;border-right:1px solid #e7eaf3;}
.preview-list .preview-item .preview-actions{display:-webkit-flex;display:flex;-webkit-flex-direction:row;flex-direction:row;}
.preview-list .preview-item .preview-actions i{width:29px;color:#e9ecef;height:29px;border:2px solid #e9ecef;border-radius:100%;padding:3px 6px;display:inline-block;}
.preview-list .preview-item .preview-actions i:first-child{margin-right:10px;}
.btn-dribbble{background:#ea4c89;color:#ffffff;}
.btn-dribbble:hover{background:#e51e6b;color:#ffffff;}
.btn-dribbble.btn-link{background:none;color:#ea4c89;}
.btn-dribbble.btn-link:hover{color:#e51e6b;}
.sol-li{ padding-left: 0; display: flex;}
.sol-li li{list-style-type: upper-alpha;list-style-position: inside; width: 100%; font-weight: 500;border: 1px dashed #ddd;background-color: #fcf8e3;text-align: center;line-height: 24px; margin-right:10px;}
.sol-li li:last-child{margin-right: 0;}
.sol-li p{display: inline-block; margin-bottom: 0;}
.question-report{border: 1px solid #ddd; padding: 20px 25px; margin-bottom: 25px; border-radius: 4px;}
.question-report .btn-fix{width: 180px;float: right; z-index: 1; border: 1px solid #ddd; padding:10px 15px; border-radius: 4px; background-color: white;}
.question-report .btn-fix label{ margin-bottom: 10px;}
.tab-print-btn{position:absolute;right:5px;top:-48px;}
.carousel-indicators .active{background-color:#2980b9;}
.carousel-control{width:0;}
.carousel-indicators{bottom:0;}
.carousel-indicators li{background-color:rgba(0, 0, 0, 0.4);bottom:0;}
.carousel-control.left,.carousel-control.right{opacity:1;filter:alpha(opacity=100);background-image:none;background-repeat:no-repeat;text-shadow:none;top:-328px;}
.carousel-control.left{right:62px;left:inherit;}
.carousel-control.right{right:10px;left:inherit;}
.carousel-control.left span{padding:8px;width:35px;height:35px;font-size:18px;}
.carousel-control.right span{padding:8px;width:35px;height:35px;font-size:18px;}
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next{position:absolute;top:45%;z-index:5;display:inline-block;}
.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{left:0;}
.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{right:0;}
.carousel-control.left span,.carousel-control.right span{background-color:#333;}
.carousel-control.left span:hover,.carousel-control.right span:hover{background-color:#d9534f;}
.card .avatar{padding: 10px 0 30px;}
.card .avatar img {display: block;width: 90px;height: 90px;border-radius: 100%;margin-left: auto;margin-right: auto;}
@media (max-width:1024px){
    .card{margin-bottom:15px;}
    .m-mb-15{margin-bottom:15px;}
    .m-mt-15{margin-top:15px;}
    .flexbox-item.header .header-nav li.active a{border-bottom-width:1px !important;}
    .flex-div{display: inherit;}
    .flex-div .widgets-card{padding: 0 15px;}
    .carousel-control.left {right: inherit;left: -9px;}
    .carousel-control.right {right: -9px;left: inherit;}
    .question-report .btn-fix{width: 100%; margin-bottom: 10px;}
    .sol-li{display: inherit;}
    .sol-li li{margin-bottom: 5px; text-align: left; padding-left: 10px;}
}
@media screen and (max-width:600px){
    table thead, table tfoot{border:none;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
    table td{border-bottom:1px solid #ddd;display:block;text-align:right !important;}
    table td:before{/** aria-label has no advantage, it won't be read inside a tablecontent:attr(aria-label);*/content:attr(data-label);float:left;font-weight:bold;text-transform:uppercase;}
    table td:last-child{border-bottom:0;}
}
@media (max-width:991px){.card.card-statistics .card-body, .card.card-statistics .horizontal-menu .sidebar .nav .nav-item .mega-menu, .horizontal-menu .sidebar .nav .nav-item .card.card-statistics .mega-menu{padding:3rem 1.5rem;}
}
@media (min-width:1700px){.card.card-statistics .card-body, .card.card-statistics .horizontal-menu .sidebar .nav .nav-item .mega-menu, .horizontal-menu .sidebar .nav .nav-item .card.card-statistics .mega-menu{padding:3rem 2.6rem;}
}
.card.card-statistics p{line-height:.71;}
.card.card-statistics .highlight-text{font-family:'source-sans-pro-regular', sans-serif;font-size:1.75rem;margin-bottom:.625rem;}
@media (max-width:991px){.card.card-statistics .highlight-text{font-size:1.2rem;}
}
.card.card-statistics .highlight-text i{font-size:2.5rem;}
@media (max-width:991px){.card.card-statistics .highlight-text i{font-size:2rem;}
}
@media (max-width:1060px){.navbar-header{float:none;}
    .navbar-left,.navbar-right{float:none !important;}
    .navbar-toggle{display:block;}
    .navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
    .navbar-fixed-top{top:0;border-width:0 0 1px;}
    .navbar-collapse.collapse{display:none!important;}
    .navbar-nav{float:none!important;margin-top:7.5px;}
    .navbar-nav>li{float:none;}
    .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
    .collapse.in{display:block !important;}
}